{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 31 : Mettre en œuvre un système de transmission{% endblock %}
{% block header_title %} SAÉ 31 : Mettre en œuvre un système de transmission{% endblock %}


{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Implémentation d’un système de transmission conforme aux normes, tests et vérifications des performances selon les critères définis.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Mettre en œuvre un lien de transmission numérique.</li>
        <li>Analyser les performances d’un lien de transmission.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC31.01 | Mise en œuvre de transmission</li>
        <li>AC31.02 | Analyse des transmissions</li>
    </ul>
</main>
{% endblock %}
