{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 3.ROM4 : Déployer un service de téléphonie multi-sites
{% endblock %}

{% block header_title %}
Sae 3.ROM4 : Déployer un service de téléphonie multi-sites
{% endblock %}

{% block content %}
<h1>Sae 3.ROM4 : Déployer un service de téléphonie multi-sites</h1>

<p class="portfolio">Au cours de cette SAÉ 3.ROM.04, l’objectif principal était de mettre en place un service de téléphonie multi-sites fiable et opérationnel. Cela a nécessité l’installation d’un serveur Asterisk et la configuration de ses options avancées afin de reproduire un système de téléphonie d’entreprise sophistiqué. Nous avons dû traiter des problématiques propres à la ToIP dans un environnement multi-sites, telles que la gestion du NAT, la configuration des pare-feux et la sécurisation des communications.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">Choisir et configurer les équipements spécifiques à la ToIP pour des fonctionnalités de téléphonie IP avancées.</li>
  <li class="portfolio">Résoudre les problématiques de réseaux associées à la ToIP (traversée de NAT, firewall, chiffrement).</li>
  <li class="portfolio">Maîtriser les protocoles et codecs spécifiques à la ToIP (SIP, RTP, codecs audio et vidéo).</li>
  <li class="portfolio">Mettre en œuvre une politique de Qualité de Service (QoS) adaptée aux communications vocales.</li>
  <li class="portfolio">Déployer et configurer un serveur Asterisk pour utiliser des fonctionnalités avancées comme le transfert d'appel, la messagerie vocale, le prédécroché, la présence et les touches rapides.</li>
  <li class="portfolio">Définir et implémenter un plan de numérotation et un plan d'adressage IP cohérents pour un environnement multi-sites.</li>
  <li class="portfolio">Mettre en place des trunks SIP pour interconnecter les différents sites.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs.</li>
  <li class="portfolio">Gérer les communications unifiées et la vidéo sur Internet.</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC24.03ROM | Décrire/comprendre l’architecture et les offres des opérateurs.</li>
  <li class="portfolio">AC24.04ROM | Gérer le routage/commutation et les interconnexions.</li>
  <li class="portfolio">AC25.01ROM | Choisir une architecture et déployer des services de ToIP.</li>
  <li class="portfolio">AC25.02ROM | Administrer un service de téléphonie pour l’entreprise.</li>
  <li class="portfolio">AC25.03ROM | Mettre en place une politique de QoS pour les applications.</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Cette SAÉ m’a permis de développer des compétences solides dans le domaine de la téléphonie IP (ToIP) multi-sites, en mettant l’accent sur le déploiement et la gestion de services avancés. J’ai pu approfondir mes connaissances sur les architectures des opérateurs, ainsi que sur la configuration du routage, de la commutation et des interconnexions nécessaires à un système de téléphonie performant.</p>

<p class="portfolio">J’ai aussi appris à sélectionner et mettre en œuvre des solutions ToIP adaptées, à administrer un service de téléphonie en entreprise et à appliquer des politiques de Qualité de Service (QoS) pour assurer la fiabilité des communications. La maîtrise de la configuration d’un serveur Asterisk et de ses fonctionnalités avancées a été un point clé, me permettant de reproduire un environnement de téléphonie d’entreprise complet.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez télécharger le compte rendu du projet en suivant ce lien :</p>
<a href="{% static 'fichier_autre/annee_2/sae3rom4/sae3rom4.pdf' %}" download="">compte rendu</a>
{% endblock %}
