{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 32 : Développer des applications communicantes{% endblock %}
{% block header_title %} SAÉ 32 : Développer des applications communicantes{% endblock %}


{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Développement d’applications réseaux mettant en œuvre des protocoles de communication : client/serveur, sockets, services web.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Concevoir et implémenter une application réseau.</li>
        <li>Déployer et sécuriser des services applicatifs.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC32.01 | Développement réseau</li>
        <li>AC32.02 | Sécurisation applicative</li>
        <li>AC32.03 | Déploiement de services</li>
    </ul>
</main>
{% endblock %}
