{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 3.ROM3 : Concevoir un réseau informatique adapté au multimédia{% endblock %}
{% block header_title %} SAÉ 3.ROM3 : Consevoir un reseau informatique Adapte au multimédia{% endblock %}

{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Conception d’une infrastructure multimédia répondant à des besoins spécifiques. Prise en compte des contraintes réseau, qualité de service et sécurité pour les flux vidéo, audio, etc.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Configurer les équipements pour assurer la continuité de service.</li>
        <li>Choisir et mettre en œuvre un mécanisme de qualité de service.</li>
        <li>Implémenter une solution de communication multimédia.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC23.01ROM | Identifier les besoins multimédia</li>
        <li>AC23.02ROM | Définir une solution multimédia</li>
        <li>AC23.03ROM | Qualité de service multimédia</li>
    </ul>
</main>
{% endblock %}
