{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 31 : Mettre en œuvre un système de transmission
{% endblock %}

{% block header_title %}
Sae 31 : Mettre en œuvre un système de transmission
{% endblock %}

{% block content %}
<h1>Sae 31 : Mettre en œuvre un système de transmission</h1>

<p class="portfolio">Lors de ce projet, l'objectif principal était de concevoir et mettre en œuvre un système de transmission complet. Cela impliquait la création d'une application mobile pour contrôler une prise connectée, la gestion des communications via un serveur MQTT, et le développement d'un site web hébergé sur un Raspberry Pi pour le contrôle et l'historique des commandes.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">Développer une application mobile permettant d'allumer et d'éteindre une prise connectée.</li>
  <li class="portfolio">Configurer un serveur MQTT pour la communication entre l'application et la prise.</li>
  <li class="portfolio">Créer un site web hébergé sur un Raspberry Pi pour le contrôle de la prise et la visualisation de l'historique des commandes.</li>
  <li class="portfolio">Mettre en œuvre un système de transmission de données fiable et efficace.</li>
  <li class="portfolio">Démontrer la capacité à proposer et mettre en œuvre des solutions répondant aux besoins d’un système de transmission selon un cahier des charges.</li>
</ul>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC22.01 | Déployer et caractériser des systèmes de transmissions complexes</li>
  <li class="portfolio">AC22.03 | Mettre en place une connexion multi-site via un réseau opérateur</li>
  <li class="portfolio">AC22.04 | Déployer des réseaux d’accès des opérateurs</li>
  <li class="portfolio">AC22.05 | Capacité à questionner un cahier des charges RT</li>
</ul>

<h2>Résumé personnel</h2>

<p class="portfolio">Ce projet a permis de développer des compétences essentielles en matière de systèmes de transmission complexes. J'ai démontré ma capacité à déployer et caractériser des systèmes complexes en mettant en œuvre une architecture impliquant une application mobile, un serveur MQTT, un Raspberry Pi et une prise connectée. La mise en place d'une connexion multi-site a été réalisée en établissant une communication efficace entre ces différents éléments via le réseau MQTT. J'ai également déployé un réseau d'accès en configurant le serveur MQTT et le Raspberry Pi pour permettre le contrôle de la prise.</p>

<p class="portfolio">Enfin, ma capacité à questionner un cahier des charges RT a été mise en évidence par mon aptitude à analyser les besoins et à proposer des solutions techniques adaptées. Ce projet a donc solidifié mes compétences en conception, déploiement et gestion de systèmes de transmission, ainsi qu'en analyse de cahiers des charges.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio"><a href="{% static 'fichier_autre/annee_2/sae31/sae31.zip' %}" download="">rendu + sujet</a></p>

{% endblock %}
