{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 3.ROM3 : Concevoir un réseau informatique adapté au multimédia
{% endblock %}

{% block header_title %}
Sae 3.ROM3 : Concevoir un réseau informatique adapté au multimédia
{% endblock %}

{% block content %}
<h1>Sae 3.ROM3 : Concevoir un réseau informatique adapté au multimédia</h1>

<p class="portfolio">Au cours de cette SAÉ (Situation d’Apprentissage et d’Évaluation) 3.ROM.03, l’objectif principal était de concevoir et déployer une infrastructure réseau répondant aux exigences du multimédia. Cela a nécessité la mise en place d’un réseau multi-sites capable de prendre en charge des services comme la VoIP (voix sur IP), la visioconférence et la vidéosurveillance, tout en assurant la qualité de service (QoS) et l’intégration de serveurs dédiés à ces usages.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">Analyser un cahier des charges spécifiant les besoins d'un réseau d'entreprise axé sur le multimédia.</li>
  <li class="portfolio">Concevoir une infrastructure réseau multi-sites intégrant des services de VoIP, de visioconférence et de vidéosurveillance.</li>
  <li class="portfolio">Configurer et déployer les équipements réseau nécessaires (routeurs, commutateurs, etc.).</li>
  <li class="portfolio">Mettre en œuvre des politiques de QoS pour garantir la qualité des services multimédias.</li>
  <li class="portfolio">Configurer et dépanner le routage dynamique et les fonctions de sécurité réseau.</li>
  <li class="portfolio">Déployer des services réseau avancés et des solutions virtualisées.</li>
  <li class="portfolio">Mettre en place un accès distant sécurisé et une connexion multi-sites via un réseau opérateur.</li>
  <li class="portfolio">Automatiser la gestion des équipements réseaux.</li>
  <li class="portfolio">Déployer un service de téléphonie multi-sites, en vérifiant l’intégration des systèmes de téléphonie.</li>
  <li class="portfolio">Documenter de manière détaillée l'infrastructure mise en œuvre.</li>
  <li class="portfolio">Mettre en place un vrai service de VOIP avec de la QoS et tout cela mélanger avec des serveurs.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs.</li>
  <li class="portfolio">Gérer les communications unifiées et la vidéo sur Internet.</li>
  <li class="portfolio">Administrer les réseaux et l’Internet.</li>
  <li class="portfolio">Connecter les entreprises et les usagers.</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC21.01 | Configurer et dépanner le routage dynamique dans un réseau.</li>
  <li class="portfolio">AC21.02 | Configurer et expliquer une politique simple de QoS et les fonctions de base de la sécurité d’un réseau.</li>
  <li class="portfolio">AC21.03 | Déployer des postes clients et des solutions virtualisées adaptées à une situation donnée.</li>
  <li class="portfolio">AC21.04 | Déployer des services réseaux avancés.</li>
  <li class="portfolio">AC21.05 | Identifier les réseaux opérateurs et l’architecture d’Internet.</li>
  <li class="portfolio">AC21.06 | Travailler en équipe pour développer ses compétences professionnelles.</li>
  <li class="portfolio">AC22.02 | Mettre en place un accès distant sécurisé.</li>
  <li class="portfolio">AC22.03 | Mettre en place une connexion multi-site via un réseau opérateur.</li>
  <li class="portfolio">AC24.01ROM | Administrer les réseaux d’accès fixes et mobiles.</li>
  <li class="portfolio">AC24.02ROM | Virtualiser des services réseaux.</li>
  <li class="portfolio">AC24.03ROM | Décrire/comprendre l’architecture et les offres des opérateurs.</li>
  <li class="portfolio">AC24.04ROM | Gérer le routage/commutation et les interconnexions.</li>
  <li class="portfolio">AC24.05ROM | Automatiser la gestion des équipements réseaux.</li>
  <li class="portfolio">AC25.01ROM | Choisir une architecture et déployer des services de ToIP.</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Cette SAÉ m’a permis de développer des compétences solides dans la conception et l’administration de réseaux informatiques complexes, notamment pour des usages multimédias. J’ai pu approfondir des savoir-faire variés, tels que la configuration et la résolution de problèmes liés au routage dynamique, la mise en place de politiques de QoS et de sécurité, ainsi que le déploiement de solutions virtualisées, de services réseau avancés et de systèmes de téléphonie IP (ToIP) multi-sites.</p>

<p class="portfolio">Le travail en équipe, l’analyse de cahiers des charges et la documentation d’infrastructures techniques ont également été renforcés. Par ailleurs, cette expérience m’a permis de mieux comprendre les réseaux opérateurs, l’architecture d’Internet, les offres des fournisseurs et d’acquérir des compétences en automatisation de la gestion des équipements réseau.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter le zip des comptes rendus du projet en suivant ce lien :</p>
<a href="{% static 'fichier_autre/annee_2/sae3rom3/sae3rom3.zip' %}" download="">comptes rendus</a>

{% endblock %}
