{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 3.ROM4 : Déployer un service de téléphonie multi-sites{% endblock %}
{% block header_title %} SAÉ 3.ROM4 : Déployer un service de téléphonie multi-sites{% endblock %}
{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Conception et mise en place d’une solution de téléphonie VoIP entre plusieurs sites distants. Interconnexion, sécurité et qualité de service incluses.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Configurer des serveurs VoIP.</li>
        <li>Assurer la qualité de service entre les sites.</li>
        <li>Sécuriser les flux de voix sur IP.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC23.04ROM | Interconnexion téléphonie</li>
        <li>AC23.05ROM | Sécurisation VoIP</li>
        <li>AC23.06ROM | Administration téléphonie</li>
    </ul>
</main>
{% endblock %}
