{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients
{% endblock %}

{% block header_title %}
Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients
{% endblock %}

{% block content %}
<h1>Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients</h1>

<p class="portfolio">Au cours de cette SAÉ 4.ROM.01, l’objectif principal consistait à mettre en place une infrastructure opérateur complète et à configurer ses services destinés aux clients. Cela a nécessité l’installation et la gestion des principaux services proposés par un opérateur télécom, tels que l’accès Internet (PPPoE, IPoE), la téléphonie, les services vidéo (IPTV, VoD) ainsi que les VPN pour les entreprises. Les participants ont travaillé sur l’ensemble des éléments d’un réseau opérateur, depuis l’accès jusqu’au cœur du réseau.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">Déployer et administrer les services d'accès à Internet (PPPoE, IPoE).</li>
  <li class="portfolio">Configurer les services de routage multicast pour les services vidéo (IPTV, VoD).</li>
  <li class="portfolio">Mettre en place et gérer les services VPN pour les entreprises.</li>
  <li class="portfolio">Automatiser le déploiement de configurations de routeurs via des scripts (Python, Powershell, Bash).</li>
  <li class="portfolio">Automatiser le déploiement de configurations sur des équipements clients (SetTop Box) via TR-069.</li>
  <li class="portfolio">Déployer des services dans des conteneurs (Docker).</li>
  <li class="portfolio">Administrer les réseaux d'accès fixes et mobiles.</li>
  <li class="portfolio">Virtualiser les services réseaux.</li>
  <li class="portfolio">Décrire et comprendre l'architecture et les offres des opérateurs.</li>
  <li class="portfolio">Gérer le routage, la commutation et les interconnexions.</li>
  <li class="portfolio">Automatiser la gestion des équipements réseaux.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs.</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC24.01ROM | Administrer les réseaux d’accès fixes et mobiles.</li>
  <li class="portfolio">AC24.02ROM | Virtualiser des services réseaux.</li>
  <li class="portfolio">AC24.03ROM | Décrire/comprendre l’architecture et les offres des opérateurs.</li>
  <li class="portfolio">AC24.04ROM | Gérer le routage/commutation et les interconnexions.</li>
  <li class="portfolio">AC24.05ROM | Automatiser la gestion des équipements réseaux.</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Cette SAÉ m’a permis d’acquérir une solide expérience dans la mise en place et l’administration d’infrastructures opérateurs avancées. J’ai pu approfondir mes compétences dans la gestion des réseaux d’accès fixes et mobiles, la virtualisation des services réseau, ainsi que dans la compréhension des architectures et offres proposées par les opérateurs. J’ai également consolidé mes aptitudes en gestion du routage, de la commutation, des interconnexions et en automatisation des équipements réseau à l’aide de scripts et de solutions conteneurisées. Cette expérience m’a permis de maîtriser les outils et méthodes essentiels pour déployer et gérer efficacement les services destinés aux clients d’un opérateur télécom.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter le sujet et le cours du projet en suivant ce lien :</p>
<a href="{% static 'fichier_autre/annee_2/sae4rom1/sae4rom1.zip' %}" download="">Sujet et Cour</a>
{% endblock %}
