{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 4.ROM1 : Déployer une infrastructure opérateur et ses services clients{% endblock %}
{% block header_title %} SAÉ 4.ROM1 : Déployer une infrastructure opérateur et ses services clients{% endblock %}


{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Mise en œuvre d’une infrastructure opérateur complète avec services clients, routage, commutation, accès Internet, et sécurité réseau.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Configurer des équipements de cœur de réseau.</li>
        <li>Mettre en place des services de télécommunication sécurisés.</li>
        <li>Superviser une infrastructure réseau.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC24.01ROM | Configuration cœur de réseau</li>
        <li>AC24.02ROM | Mise en œuvre des services opérateur</li>
        <li>AC24.03ROM | Supervision opérateur</li>
    </ul>
</main>
{% endblock %}
