{% extends "base.html" %}

{% block title %}
Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients
{% endblock %}

{% block header_title %}
Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients
{% endblock %}

{% block content %}
<h1>Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients</h1>

<p class="portfolio">Lors de cette SAÉ 4.ROM.01, l'objectif principal était de déployer une infrastructure opérateur complète et de configurer ses services clients. Cela impliquait la mise en place et l'administration des principaux services fournis par un opérateur de télécommunications, tels que l'accès à Internet (PPPoE, IPoE), les services de téléphonie, les services vidéo (IPTV, VoD) et les services VPN pour les entreprises. Les participants ont été amenés à travailler sur les différentes composantes d'un réseau opérateur, de l'accès au cœur de réseau.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">Déployer et administrer les services d'accès à Internet (PPPoE, IPoE).</li>
  <li class="portfolio">Configurer les services de routage multicast pour les services vidéo (IPTV, VoD).</li>
  <li class="portfolio">Mettre en place et gérer les services VPN pour les entreprises.</li>
  <li class="portfolio">Automatiser le déploiement de configurations de routeurs via des scripts (Python, Powershell, Bash).</li>
  <li class="portfolio">Automatiser le déploiement de configurations sur des équipements clients (SetTop Box) via TR-069.</li>
  <li class="portfolio">Déployer des services dans des conteneurs (Docker).</li>
  <li class="portfolio">Administrer les réseaux d'accès fixes et mobiles.</li>
  <li class="portfolio">Virtualiser les services réseaux.</li>
  <li class="portfolio">Décrire et comprendre l'architecture et les offres des opérateurs.</li>
  <li class="portfolio">Gérer le routage, la commutation et les interconnexions.</li>
  <li class="portfolio">Automatiser la gestion des équipements réseaux.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs.</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC24.01ROM | Administrer les réseaux d’accès fixes et mobiles.</li>
  <li class="portfolio">AC24.02ROM | Virtualiser des services réseaux.</li>
  <li class="portfolio">AC24.03ROM | Décrire/comprendre l’architecture et les offres des opérateurs.</li>
  <li class="portfolio">AC24.04ROM | Gérer le routage/commutation et les interconnexions.</li>
  <li class="portfolio">AC24.05ROM | Automatiser la gestion des équipements réseaux.</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Cette SAÉ a permis de développer une expertise complète dans le déploiement et la gestion d'infrastructures opérateurs complexes. Les compétences acquises englobent l'administration des réseaux d'accès fixes et mobiles, la virtualisation de services réseau, et une compréhension approfondie de l'architecture et des offres des opérateurs. Nous avons également renforcé nos capacités à gérer le routage, la commutation et les interconnexions, ainsi qu'à automatiser la gestion des équipements réseau à l'aide de scripts et de conteneurs. Cette expérience a permis de maîtriser les outils et les techniques nécessaires pour déployer et administrer efficacement les services clients d'un opérateur de télécommunications.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter le sujet et le cours du projet en suivant ce lien :</p>
<a href="https://drive.google.com/drive/folders/1F7KFU_RoK9_HMn2Nuy9QZC5L2PF1dP5O?usp=sharing">Sujet et Cour</a>

{% endblock %}
