{% extends "base.html" %}
{% load static %}

{% block title %}STAGE.ROM : Alternance{% endblock %}
{% block header_title %} STAGE.ROM : Alternance{% endblock %}


{% block content %}
<main>
    <h2>Descriptif générique et objectifs :</h2>
    <p>Période en entreprise dédiée à la mise en application concrète des compétences techniques, communicationnelles et organisationnelles du BUT.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Mettre en pratique les compétences vues en cours en situation réelle.</li>
        <li>Collaborer avec une équipe projet.</li>
        <li>Adapter ses connaissances à l’environnement professionnel.</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>ACSTAGE.01ROM | Projet technique</li>
        <li>ACSTAGE.02ROM | Communication professionnelle</li>
        <li>ACSTAGE.03ROM | Intégration entreprise</li>
    </ul>
</main>
{% endblock %}
