{% extends "base.html" %}
{% load static %}

{% block title %}
STAGE.ROM : Alternance
{% endblock %}

{% block header_title %}
STAGE.ROM : Alternance
{% endblock %}

{% block content %}
<h1>STAGE.ROM : Alternance</h1>
<p class="portfolio">Cette expérience en alternance a offert l’opportunité de mettre en pratique et de renforcer les compétences acquises durant le B.U.T. R&T. L’objectif principal était de s’intégrer au sein d’une entreprise et de contribuer à des projets portant sur le déploiement, l’installation ou la maintenance opérationnelle d’infrastructures réseaux et télécoms. Les missions réalisées ont permis de développer des compétences techniques et professionnelles variées, en cohérence avec le projet professionnel et le parcours choisi par l’étudiant.</p>

<h2>Objectifs du projet</h2>
<ul>
  <li class="portfolio">S’intégrer dans un environnement professionnel et appréhender l’organisation de l’entreprise.</li>
  <li class="portfolio">Approfondir les compétences techniques dans les domaines des infrastructures réseaux sécurisées, des télécommunications, des réseaux d’objets connectés, des solutions logicielles sur systèmes Cloud, ainsi que dans la gestion de projets réseaux ou télécoms.</li>
  <li class="portfolio">Mettre en œuvre et consolider les connaissances et aptitudes acquises durant la formation.</li>
  <li class="portfolio">Développer l’autonomie et l’esprit d’initiative.</li>
  <li class="portfolio">Rendre compte de ses activités et missions à l’écrit comme à l’oral, en adoptant une démarche structurée et rigoureuse.</li>
  <li class="portfolio">Mettre en pratique des compétences techniques telles que la configuration et le dépannage du routage dynamique, la mise en place de la QoS et de la sécurité réseau, l’installation de services ToIP, la virtualisation de services, l’automatisation de tâches par scripts, et bien d’autres.</li>
  <li class="portfolio">Concevoir et présenter un poster détaillant les activités et projets menés au sein de l’entreprise.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs.</li>
  <li class="portfolio">Gérer les communications unifiées et la vidéo sur Internet.</li>
  <li class="portfolio">Administrer les réseaux et l’Internet.</li>
  <li class="portfolio">Connecter les entreprises et les usagers.</li>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T.</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC21.01 | Configurer et dépanner le routage dynamique dans un réseau</li>
  <li class="portfolio">AC21.02 | Configurer et expliquer une politique simple de QoS et les fonctions de base de la sécurité d’un réseau</li>
  <li class="portfolio">AC21.03 | Déployer des postes clients et des solutions virtualisées adaptées à une situation donnée</li>
  <li class="portfolio">AC21.04 | Déployer des services réseaux avancés</li>
  <li class="portfolio">AC21.05 | Identifier les réseaux opérateurs et l’architecture d’Internet</li>
  <li class="portfolio">AC21.06 | Travailler en équipe pour développer ses compétences professionnelles</li>
  <li class="portfolio">AC22.01 | Déployer et caractériser des systèmes de transmissions complexes</li>
  <li class="portfolio">AC22.02 | Mettre en place un accès distant sécurisé</li>
  <li class="portfolio">AC22.03 | Mettre en place une connexion multi-site via un réseau opérateur</li>
  <li class="portfolio">AC22.04 | Déployer des réseaux d’accès des opérateurs</li>
  <li class="portfolio">AC22.05 | Capacité à questionner un cahier des charges RT</li>
  <li class="portfolio">AC23.01 | Automatiser l’administration système avec des scripts</li>
  <li class="portfolio">AC23.02 | Développer une application à partir d’un cahier des charges donné, pour le Web ou les périphériques mobiles</li>
  <li class="portfolio">AC23.03 | Utiliser un protocole réseau pour programmer une application client/serveur</li>
  <li class="portfolio">AC23.04 | Installer, administrer un système de gestion de données</li>
  <li class="portfolio">AC23.05 | Accéder à un ensemble de données depuis une application et/ou un site web</li>
  <li class="portfolio">AC24.01ROM | Administrer les réseaux d’accès fixes et mobiles</li>
  <li class="portfolio">AC24.02ROM | Virtualiser des services réseaux</li>
  <li class="portfolio">AC24.03ROM | Décrire/comprendre l’architecture et les offres des opérateurs</li>
  <li class="portfolio">AC24.04ROM | Gérer le routage/commutation et les interconnexions</li>
  <li class="portfolio">AC24.05ROM | Automatiser la gestion des équipements réseaux</li>
  <li class="portfolio">AC25.01ROM | Choisir une architecture et déployer des services de ToIP</li>
  <li class="portfolio">AC25.02ROM | Administrer un service de téléphonie pour l’entreprise</li>
  <li class="portfolio">AC25.03ROM | Mettre en place une politique de QoS pour les applications</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au fil de ma formation, j’ai consolidé des compétences techniques pointues dans les domaines des réseaux et des systèmes. J’ai su configurer et diagnostiquer le routage dynamique, mettre en œuvre des stratégies de QoS et renforcer la sécurité des réseaux. J’ai également approfondi le déploiement de postes clients, la virtualisation de services et la gestion de réseaux avancés, tout en comprenant l’organisation des réseaux opérateurs et l’architecture d’Internet.</p>

<p class="portfolio">Concernant les systèmes de transmission, j’ai été amené à déployer et analyser des infrastructures complexes, à instaurer des accès distants sécurisés et à connecter plusieurs sites via des réseaux opérateurs. J’ai aussi développé des aptitudes dans le déploiement de réseaux d’accès opérateurs et l’étude de cahiers des charges RT.</p>

<p class="portfolio">En automatisation et développement, j’ai automatisé l’administration système à l’aide de scripts, conçu des applications web et mobiles, utilisé des protocoles réseau pour réaliser des applications client/serveur, installé et géré des systèmes de gestion de données, et accédé à des ensembles de données via des applications ou des sites web.</p>

<p class="portfolio">Enfin, j’ai acquis des compétences en administration de réseaux d’accès fixes et mobiles, en virtualisation de services réseaux, en compréhension des architectures et offres des opérateurs, en gestion du routage, de la commutation et des interconnexions, en automatisation de la gestion des équipements réseaux, ainsi qu’en déploiement et gestion de services ToIP et en mise en place de politiques de QoS adaptées aux applications.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter mon poster détaillant les activités et projets réalisés au sein de l'entreprise en suivant ce lien :</p>
<a href="{% static 'fichier_autre/annee_2/stagerom/stagerom.pdf' %}" download="">poster</a>
{% endblock %}
