{% extends "base.html" %}
{% load static %}

{% block title %}BUT3 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 3 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 3 :</h1>
    <p class="acceuil_portfolio">
    Ce document met en avant les savoir-faire et connaissances développés durant la troisième année du BUT Réseaux et Télécommunications. Cette année finale a pour objectif d’approfondir la maîtrise de concepts avancés et de renforcer l’expertise dans les domaines des réseaux informatiques et des infrastructures de télécommunications.
    </p>
    <p class="acceuil_portfolio">
        Cette année nous permet de consolider nos compétences professionnelles grâce à différentes Situations d’Apprentissage et d’Évaluation (SAE). Ces travaux pratiques nous placent face à des problématiques complexes, similaires à celles du monde professionnel, et nous préparent concrètement à l’entrée sur le marché du travail ou à la poursuite d’études.
    </p>
    <p class="acceuil_portfolio">
    Je vais ainsi vous exposer les diverses SAE menées durant cette troisième année, en détaillant leurs finalités, les compétences mises en œuvre, ainsi que mon retour sur l’alternance, qui représente une composante majeure de cette formation.
    </p>
    <ul>
        <li><a href="{% url 'sae' annee=3 sae='sae51' %}" class="lien">Sae 51 : Concevoir, réaliser et présenter une solution technique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae52' %}" class="lien">Sae 52 : Piloter un projet informatique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae5rom3' %}" class="lien">Sae 5.ROM.3 : Déployer et gérer les services ROM</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae6rom1' %}" class="lien">Sae 6.ROM.1 : Réaliser une veille technologique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='stagerom' %}" class="lien">STAGE.ROM : Alternance</a></li>
    </ul>
</section>
{% endblock %}
