{% extends "base.html" %}
{% load static %}

{% block title %}BUT2 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 2 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 2 :</h1>
    <h2>
        Cette deuxième année de BUT Réseaux et Télécommunications a été marquée par une montée en compétences significative. Elle m’a permis d’approfondir mes connaissances techniques tout en renforçant mes aptitudes à collaborer efficacement en équipe.
    </h2>
    <h2>
        Les projets SAE ont été essentiels dans cette progression, offrant des situations concrètes qui m’ont permis de mettre en œuvre des solutions réseau complexes. Cette année fut également l’occasion de mieux appréhender les exigences du monde professionnel.
    </h2>

    <ul>
        <li><a href="{% url 'sae' annee=2 sae='sae31' %}" class="lien">SAE 31 : Mettre en oeuvre un système de transmission</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae32' %}" class="lien">Sae 32 : Développer des applications communicantes</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae3rom3' %}" class="lien">Sae 3.ROM3 : Concevoir un réseau informatique adapté au multimédia</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae4rom4' %}" class="lien">Sae 3.ROM4 : Déployer un service de téléphonie multi-sites</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae4rom1' %}" class="lien">Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients</a></li>
        <li><a href="{% url 'sae' annee=2 sae='stqgerom' %}" class="lien">STAGE.ROM : Alternance</a></li>

    </ul>
</section>
{% endblock %}
