{% extends "base.html" %}
{% load static %}

{% block title %}BUT1 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 1 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 1 :</h1>
    <h2>
        Cette première année en BUT Réseaux & Télécoms a posé les bases de mes compétences en informatique et en télécommunications. 
        Elle m’a permis d’explorer de nombreux domaines allant des réseaux à la cybersécurité, en passant par le développement web et la transmission de données.
    </h2>
    <h2>
        Grâce aux projets SAE, j’ai pu mettre en pratique les connaissances acquises en cours dans des situations concrètes.
    </h2>

    <ul>
        <li><a href="{% url 'sae' annee=1 sae='sae11' %}" class="lien">Sae 11 : Sensibilisation à l'hygiène informatique et à la cybersécurité</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae12' %}" class="lien">Sae 12 : S’initier aux réseaux informatiques</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae13' %}" class="lien">Sae 13 : Découvrir un dispositif de transmission</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae14' %}" class="lien">Sae 14 : Se présenter sur Internet</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae15' %}" class="lien">Sae 15 : Traiter des données</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae21' %}" class="lien">Sae 21 : Construire un réseau informatique pour une petite structure</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae22' %}" class="lien">Sae 22 : Mesurer et caractériser un signal ou un système</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae23' %}" class="lien">Sae 23 : Mettre en place une solution informatique pour l’entreprise</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae24' %}" class="lien">Sae 24 : Projet intégratif</a></li>
    </ul>
</section>
{% endblock %}
