{% extends "base.html" %}
{% load static %}

{% block title %}BUT1 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 1 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 1 :</h1>
    <p class="acceuil_portfolio">
        Ce document vise à exposer les savoir-faire et connaissances développés au cours de notre formation. Le BUT 1 Réseaux et Télécommunications a pour finalité de préparer des spécialistes capables de concevoir, mettre en œuvre et gérer des réseaux informatiques ainsi que des infrastructures de télécommunications.
    </p>
    <p class="acceuil_portfolio">
        Au cours de cette année, nous avons réalisé diverses Situations d’Apprentissage et d’Évaluation (SAE), qui ont contribué à renforcer nos connaissances théoriques ainsi que nos aptitudes pratiques. Je vais maintenant vous présenter les différentes SAE auxquelles nous avons pris part.
    </p>

    <ul>
        <li><a href="{% url 'sae' annee=1 sae='sae11' %}" class="lien">Sae 11 : Sensibilisation à l'hygiène informatique et à la cybersécurité</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae12' %}" class="lien">Sae 12 : S’initier aux réseaux informatiques</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae13' %}" class="lien">Sae 13 : Découvrir un dispositif de transmission</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae14' %}" class="lien">Sae 14 : Se présenter sur Internet</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae15' %}" class="lien">Sae 15 : Traiter des données</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae21' %}" class="lien">Sae 21 : Construire un réseau informatique pour une petite structure</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae22' %}" class="lien">Sae 22 : Mesurer et caractériser un signal ou un système</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae23' %}" class="lien">Sae 23 : Mettre en place une solution informatique pour l’entreprise</a></li>
        <li><a href="{% url 'sae' annee=1 sae='sae24' %}" class="lien">Sae 24 : Projet intégratif</a></li>
    </ul>
</section>
{% endblock %}
