{% extends "base.html" %}
{% load static %}

{% block title %}BUT2 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 2 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 2 :</h1>
    <p class="acceuil_portfolio">
        Ce document met en avant les savoir-faire et connaissances acquis durant la deuxième année du BUT Réseaux et Télécommunications. Cette année permet de consolider les fondamentaux abordés auparavant tout en offrant une spécialisation accrue dans les secteurs des réseaux informatiques et des infrastructures télécoms.
    </p>
    <p class="acceuil_portfolio">
        Elle offre l’opportunité de développer des compétences techniques et professionnelles approfondies grâce à diverses Situations d’Apprentissage et d’Évaluation (SAE). Ces projets pratiques nous immergent dans des situations similaires à celles rencontrées en milieu professionnel et nous préparent efficacement à notre future intégration dans le secteur.
    </p>
    <p class="acceuil_portfolio">
        Je vais ainsi vous présenter les différentes SAE réalisées au cours de cette année, en soulignant leurs objectifs ainsi que les compétences sollicitées et acquises pour chacune d’entre elles.
    </p>

    <ul>
        <li><a href="{% url 'sae' annee=2 sae='sae31' %}" class="lien">SAE 31 : Mettre en oeuvre un système de transmission</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae32' %}" class="lien">Sae 32 : Développer des applications communicantes</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae3rom3' %}" class="lien">Sae 3.ROM3 : Concevoir un réseau informatique adapté au multimédia</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae3rom4' %}" class="lien">Sae 3.ROM4 : Déployer un service de téléphonie multi-sites</a></li>
        <li><a href="{% url 'sae' annee=2 sae='sae4rom1' %}" class="lien">Sae 4.ROM1 : Déployer une infrastructure opérateur et ses services clients</a></li>
        <li><a href="{% url 'sae' annee=2 sae='stagerom' %}" class="lien">STAGE.ROM : Alternance</a></li>

    </ul>
</section>
{% endblock %}
