{% extends "base.html" %}
{% load static %}

{% block title %}BUT3 - Samuel Rolli{% endblock %}
{% block header_title %}B.U.T. 3 Réseaux et Télécoms{% endblock %}

{% block content %}
<section>
    <h1>Présentation BUT 3 :</h1>
    <p class="acceuil_portfolio">
    Dans ce document, nous allons présenter les compétences et connaissances que nous avons acquises au cours de notre troisième année de BUT Réseaux et Télécommunications. Cette dernière année vise à maîtriser des concepts avancés et à développer une expertise approfondie dans les domaines des réseaux informatiques et des infrastructures de télécommunications.
    </p>
    <p class="acceuil_portfolio">
        Elle nous offre l’opportunité de renforcer nos compétences professionnelles à travers diverses Situations d’Apprentissage et d’Évaluation (SAE). Ces projets pratiques nous confrontent à des problématiques complexes, proches de celles rencontrées en milieu professionnel, et nous préparent de manière concrète à notre insertion sur le marché du travail ou à une éventuelle poursuite d’études.
    </p>
    <p class="acceuil_portfolio">
    Je vais donc vous présenter les différentes SAE réalisées au cours de cette troisième année, en précisant leurs objectifs, les compétences mobilisées, ainsi que mon retour d’expérience en alternance, qui constitue un volet essentiel de cette formation.
    </p>
    <ul>
        <li><a href="{% url 'sae' annee=3 sae='sae51' %}" class="lien">Sae 51 : Concevoir, réaliser et présenter une solution technique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae52' %}" class="lien">Sae 52 : Piloter un projet informatique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae5rom3' %}" class="lien">Sae 5.ROM.3 : Déployer et gérer les services ROM</a></li>
        <li><a href="{% url 'sae' annee=3 sae='sae6rom1' %}" class="lien">Sae 6.ROM.1 : Réaliser une veille technologique</a></li>
        <li><a href="{% url 'sae' annee=3 sae='stagerom' %}" class="lien">STAGE.ROM : Alternance</a></li>
    </ul>
</section>
{% endblock %}
