{% extends "base.html" %}

{% block title %}
Sae 15 : Traiter des données
{% endblock %}

{% block header_title %}
Sae 15 : Traiter des données
{% endblock %}

{% block content %}
<h1>Sae 15 : Traiter des données</h1>

<p>Découverte de la chaîne de traitement des données : collecte, analyse, visualisation. L’objectif est de comprendre les enjeux autour des données numériques.</p>

<h2>Compétences ciblées</h2>
<ul>
  <li>Collecter des données de manière éthique</li>
  <li>Analyser et interpréter les données</li>
  <li>Représenter les résultats efficacement</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li>AC15.01 | Traitement de données</li>
  <li>AC15.02 | Visualisation</li>
</ul>
{% endblock %}
