{% extends "base.html" %}

{% block title %}
Sae 15 : Traiter des données
{% endblock %}

{% block header_title %}
Sae 15 : Traiter des données
{% endblock %}

{% block content %}
<h1>Sae 15 : Traiter des données</h1>

<p class="portfolio">Dans le cadre de cette SAE 15, l’objectif était de construire des algorithmes en suivant des consignes précises données par l’enseignant. J’ai choisi d’assembler tous les programmes créés au fur et à mesure pour en faire un programme complet et fonctionnel.</p>

<p class="portfolio">Ce projet m'a permis de développer des compétences en programmation en combinant théorie et pratique à travers des exercices de création d'algorithmes, de débogage de code et d'optimisation de programmes.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser un système informatique et ses outils</li>
  <li class="portfolio">AC13.02 | Lire, exécuter, corriger et modifier un programme</li>
  <li class="portfolio">AC13.03 | Traduire un algorithme dans un langage et pour un environnement donné</li>
  <li class="portfolio">AC13.04 | Connaître l’architecture et les technologies d’un site Web</li>
  <li class="portfolio">AC13.05 | Choisir les mécanismes de gestion de données adaptés au développement de l’outil et argumenter ses choix</li>
  <li class="portfolio">AC13.06 | S’intégrer dans un environnement propice au développement et au travail collaboratif</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de cette SAE, j’ai appris à utiliser efficacement un système informatique et ses outils, ce qui m’a permis de travailler dans différents environnements numériques. J’ai développé des compétences en programmation, en étant capable de lire, exécuter, corriger et modifier du code, ainsi que de traduire des algorithmes dans un langage adapté en fonction du contexte et de l’environnement de développement.</p>

<p class="portfolio">J’ai aussi acquis une bonne compréhension de l’architecture et des technologies d’un site web, en plus des mécanismes de gestion des données nécessaires pour le développement de projets informatiques. J’ai appris à choisir des solutions techniques adaptées aux besoins du projet et à justifier mes choix en tenant compte des contraintes spécifiques.</p>

<p class="portfolio">Enfin, ce projet m’a permis de m’intégrer dans un environnement collaboratif de développement en équipe. J’ai appris à appliquer des méthodes de travail efficaces pour gérer le travail de groupe, améliorer mes compétences organisationnelles et optimiser les résultats en fonction des objectifs du projet.</p>

<h2>Preuves matérielles</h2>

<p class="portfolio">Voici les différentes preuves matérielles de mon travail dans cette SAE :</p>

<ul>
  <li class="portfolio"><a href="Sae%2015%20Traiter%20des%20donne%CC%81es%201bcc00567e7780969e26cf92ecae0a3c/Ce_qui_faut_faire.txt" target="_blank">Liste des tâches à faire</a></li>
  <li class="portfolio"><a href="Sae%2015%20Traiter%20des%20donne%CC%81es%201bcc00567e7780969e26cf92ecae0a3c/LOTO.py.rtf" target="_blank">Script final (LOTO.py)</a></li>
  <li class="portfolio"><a href="Sae%2015%20Traiter%20des%20donne%CC%81es%201bcc00567e7780969e26cf92ecae0a3c/rapport_final.pdf" target="_blank">Rapport final de la SAE</a></li>
</ul>
{% endblock %}
