{% extends "base.html" %}

{% block title %}
Sae 14 : Création d'une présentation en ligne
{% endblock %}

{% block header_title %}
Sae 14 : Création d'une présentation en ligne
{% endblock %}

{% block content %}
<h1>Sae 14 : Création d'une présentation en ligne</h1>

<p class="portfolio">Au cours de cette SAE 14, il s’agissait de découvrir les bases du HTML et du CSS en réalisant deux pages web à notre image. Cette activité représentait aussi notre première expérience en autonomie complète. Nous devions ainsi concevoir deux pages distinctes : la première retraçait mon parcours scolaire, de l’école primaire jusqu’au BUT, tandis que la seconde portait sur une passion ou un loisir. J’ai choisi d’y présenter le ski, un sport que je pratique depuis l’enfance, en expliquant les raisons de ce choix.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les réseaux et télécommunications</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser efficacement un système informatique et ses outils</li>
  <li class="portfolio">AC13.04 | Comprendre l’architecture et les technologies sous-jacentes d’un site web</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Durant cette SAE, j’ai appris à utiliser de façon autonome des systèmes informatiques et leurs outils, ce qui m’a aidé à organiser mes projets et à m’adapter à divers environnements numériques. J’ai aussi développé une bonne compréhension de la structure des sites web et des technologies indispensables à leur création, comme HTML et CSS, et à les exploiter pour concevoir des pages web simples et efficaces.</p>

<p class="portfolio">Ces acquis m'ont aidé à comprendre la conception d’un site web et l’organisation requise pour sa publication, tout en respectant les standards du domaine et en assurant la compatibilité des pages avec divers navigateurs.</p>

<h2>Preuves matérielles</h2>

<h3>Site Web de présentation</h3>
<p class="portfolio">Voici le lien vers ma page de présentation :</p>
<p class="portfolio"><a href="https://thesolobaid.github.io/SAE-14_Presentation/" target="_blank">Saé se présenter sur internet</a></p>

<h3>Site Web sur mon loisir</h3>
<p class="portfolio">Voici le lien vers la page dédiée à l’une de mes passions : l’escalade.</p>
<p class="portfolio"><a href="https://thesolobaid.github.io/SAE-14_SitePassion/" target="_blank">Saé2 présentation en ligne, une passion</a></p>
{% endblock %}
