{% extends "base.html" %}

{% block title %}
Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité
{% endblock %}

{% block header_title %}
Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité
{% endblock %}

{% block content %}
<h1>Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité</h1>

<p class="portfolio">Cette SAE a pour but de sensibiliser les utilisateurs aux dangers numériques et de leur transmettre les pratiques essentielles pour garantir leur sécurité informatique. Elle met l'accent sur l'importance d'adopter des réflexes responsables dans l’utilisation des outils numériques.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Gérer les réseaux et services Internet de manière sécurisée</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC11.02 | Comprendre l’organisation des systèmes numériques et les bases des échanges d’information</li>
  <li class="portfolio">AC11.04 | Savoir utiliser les systèmes d’exploitation pour configurer et administrer les ressources réseau</li>
  <li class="portfolio">AC11.05 | Être capable de détecter et de signaler les anomalies dans un réseau local</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Cette activité m’a permis de consolider mes connaissances sur la structure des systèmes numériques, les méthodes de codage de l’information et les mécanismes des communications en ligne. Grâce à ces notions, je suis désormais en mesure d’analyser et de comprendre comment circulent les données au sein d’un système informatique.</p>

<p class="portfolio">J’ai également appris à utiliser les fonctionnalités clés des systèmes d’exploitation, ce qui me donne les moyens d’assurer l’administration et la configuration des réseaux et services associés de manière autonome.</p>

<p class="portfolio">Enfin, je suis capable d’identifier les problèmes qui peuvent affecter un réseau local et de les remonter efficacement, contribuant ainsi à maintenir une infrastructure stable et fonctionnelle.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter notre présentation et la vidéo associée à cette SAE :</p>
<p class="portfolio"><a href="https://drive.google.com/drive/folders/1VdzErND7Xl8nWl_8i6CGPTVN3OrTUL1S?usp=sharing" target="_blank">SAE 11 - Présentation et Vidéo</a></p>
{% endblock %}
