{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 15 : Traiter des données
{% endblock %}

{% block header_title %}
Sae 15 : Traiter des données
{% endblock %}

{% block content %}
<h1>Sae 15 : Traiter des données</h1>

<p class="portfolio">Pour cette SAE 15, il s’agissait de concevoir des algorithmes en respectant les instructions fournies par l’enseignant. J’ai décidé de regrouper l’ensemble des programmes réalisés au fil des séances afin d’obtenir une application complète et opérationnelle.</p>

<p class="portfolio">Ce projet m’a offert l’opportunité d’approfondir mes compétences en programmation en associant concepts théoriques et applications concrètes, notamment par des exercices de conception d’algorithmes, de correction de code et d’amélioration de programmes.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser un système informatique et ses outils</li>
  <li class="portfolio">AC13.02 | Lire, exécuter, corriger et modifier un programme</li>
  <li class="portfolio">AC13.03 | Traduire un algorithme dans un langage et pour un environnement donné</li>
  <li class="portfolio">AC13.04 | Connaître l’architecture et les technologies d’un site Web</li>
  <li class="portfolio">AC13.05 | Choisir les mécanismes de gestion de données adaptés au développement de l’outil et argumenter ses choix</li>
  <li class="portfolio">AC13.06 | S’intégrer dans un environnement propice au développement et au travail collaboratif</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Durant cette SAE, j’ai renforcé ma capacité à exploiter un système informatique et ses outils, ce qui m’a permis d’évoluer dans divers environnements numériques. J’ai consolidé mes compétences en programmation, notamment en lisant, exécutant, corrigeant et adaptant du code, ainsi qu’en transposant des algorithmes dans un langage approprié selon le contexte et l’environnement technique.</p>

<p class="portfolio">J’ai également approfondi ma compréhension de l’architecture et des technologies liées aux sites web, ainsi que des méthodes de gestion des données indispensables au développement de solutions informatiques. J’ai appris à sélectionner des options techniques pertinentes pour répondre aux besoins du projet et à argumenter mes choix en fonction des contraintes rencontrées.</p>

<p class="portfolio">Ce projet m’a enfin permis de m’intégrer efficacement dans un cadre de travail collaboratif. J’ai mis en pratique des méthodes de gestion de groupe, ce qui a favorisé l’amélioration de mes compétences organisationnelles et l’atteinte des objectifs fixés pour le projet.</p>

<h2>Preuves matérielles</h2>

<p class="portfolio">Voici les différentes preuves matérielles de mon travail dans cette SAE :</p>

<ul>
  <li class="portfolio"><a href="{% static 'fichier_autre/annee_1/sae15/loto.zip' %}" download="">fichier zip contenant les différents sciptes python</a></li>
  <p>En raison d’une défaillance de mon serveur personnel, j’ai malheureusement perdu le compte rendu Word que j’avais rédigé. Si je parviens à le retrouver, il sera ajouté ici.</p>
</ul>
{% endblock %}
