{% extends "base.html" %}

{% block title %}
Sae 11 : Sensibilisation à l'hygiène informatique et à la cybersécurité
{% endblock %}

{% block header_title %}
Sae 11 : Sensibilisation à l'hygiène informatique et à la cybersécurité
{% endblock %}

{% block content %}
<h1>Sae 11 : Sensibilisation à l'hygiène informatique et à la cybersécurité</h1>

<p>Découverte des risques informatiques et des bonnes pratiques en matière de sécurité. Cette SAE permet d’adopter un comportement responsable face à l’usage du numérique.</p>

<h2>Compétences ciblées</h2>
<ul>
  <li>Identifier les menaces courantes en cybersécurité</li>
  <li>Adopter des comportements numériques sécurisés</li>
  <li>Protéger ses données personnelles</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li>AC11.01 | Sécurité de base</li>
  <li>AC11.02 | Hygiène numérique</li>
</ul>
{% endblock %}
