{% extends "base.html" %}

{% block title %}
Sae 14 : Création d'une présentation en ligne
{% endblock %}

{% block header_title %}
Sae 14 : Création d'une présentation en ligne
{% endblock %}

{% block content %}
<h1>Sae 14 : Création d'une présentation en ligne</h1>

<p class="portfolio">Lors de cette SAE 14, l'objectif était de nous initier au langage HTML et CSS afin de créer deux pages web nous représentant. Cette SAE était également notre première expérience en totale autonomie. Nous devions ainsi concevoir deux pages de A à Z : la première sur notre parcours personnel, retraçant mes études depuis l'école primaire jusqu'au BUT. La seconde page devait refléter une passion ou un loisir. Pour ma part, j'ai choisi de parler du ski, un sport que je pratique depuis mon enfance, et d'expliquer ce qui m'a poussé à le choisir.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les réseaux et télécommunications</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser efficacement un système informatique et ses outils</li>
  <li class="portfolio">AC13.04 | Comprendre l’architecture et les technologies sous-jacentes d’un site web</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de cette SAE, j'ai appris à travailler avec des systèmes informatiques et leurs outils de manière autonome, ce qui m'a permis de gérer efficacement mes projets et de m'adapter à différents environnements numériques. J'ai également acquis une solide compréhension de l'architecture des sites web et des technologies nécessaires à leur développement, comme HTML et CSS, et comment les utiliser pour créer des applications web simples mais fonctionnelles.</p>

<p class="portfolio">Ces compétences m'ont permis de mieux appréhender le développement d'un site web et la structure nécessaire à sa mise en ligne, en suivant les bonnes pratiques du secteur et en veillant à la compatibilité des pages créées avec différents navigateurs.</p>

<h2>Preuves matérielles</h2>

<h3>Site Web de présentation</h3>
<p class="portfolio">Voici le lien vers ma page de présentation :</p>
<p class="portfolio"><a href="https://thesolobaid.github.io/SAE-14_Presentation/" target="_blank">Saé se présenter sur internet</a></p>

<h3>Site Web sur mon loisir</h3>
<p class="portfolio">Voici le lien vers la page dédiée à ma passion du ski :</p>
<p class="portfolio"><a href="https://thesolobaid.github.io/SAE-14_SitePassion/" target="_blank">Saé2 se présenter sur internet partie 2</a></p>
{% endblock %}
