{% extends "base.html" %}

{% block title %}
Sae 14 : Se présenter sur Internet
{% endblock %}

{% block header_title %}
Sae 14 : Se présenter sur Internet
{% endblock %}

{% block content %}
<h1>Sae 14 : Se présenter sur Internet</h1>

<p>Création d’un portfolio ou d’une identité numérique professionnelle. Cette SAE permet de construire une présence cohérente et valorisante sur le web.</p>

<h2>Compétences ciblées</h2>
<ul>
  <li>Concevoir un site personnel</li>
  <li>Structurer son CV numérique</li>
  <li>Publier du contenu en ligne de manière sécurisée</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li>AC14.01 | Outils de publication web</li>
  <li>AC14.02 | Communication numérique</li>
</ul>
{% endblock %}
