{% extends "base.html" %}

{% block title %}
Sae 12 : Découverte des réseaux informatiques
{% endblock %}

{% block header_title %}
Sae 12 : Découverte des réseaux informatiques
{% endblock %}

{% block content %}
<h1>Sae 12 : Découverte des réseaux informatiques</h1>

<p class="portfolio">Dans le cadre de cette SAE 12, l'objectif principal était de rassembler toutes les connaissances acquises au préalable pour les appliquer dans un projet complet. Il s'agissait de concevoir un réseau informatique depuis sa création, en incluant la configuration des postes clients, la mise en place d'un serveur DHCP, ainsi que la gestion des commutateurs et des routeurs. En somme, nous avons administré un réseau local en intégralité.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Administrer les réseaux et les services Internet</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC11.02 | Comprendre l'architecture des systèmes numériques et les fondamentaux des échanges de données</li>
  <li class="portfolio">AC11.03 | Configurer les bases d'un réseau local</li>
  <li class="portfolio">AC11.04 | Maîtriser l'administration des systèmes d'exploitation pour gérer les réseaux et services associés</li>
  <li class="portfolio">AC11.05 | Identifier les problèmes de réseau local et savoir comment les signaler</li>
  <li class="portfolio">AC11.06 | Installer un poste client et expliquer la procédure détaillée</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de cette SAE, j'ai approfondi ma compréhension des systèmes numériques et des principes essentiels du codage et des communications sur Internet. Cela m'a permis de mieux comprendre l'organisation et le fonctionnement des infrastructures numériques globales.</p>

<p class="portfolio">J'ai également acquis des compétences pratiques en configurant les fonctions de base d'un réseau local, et en apprenant à interagir avec les systèmes d'exploitation pour administrer les ressources réseau et leurs services associés.</p>

<p class="portfolio">En parallèle, j'ai développé des compétences en diagnostic de réseau, me permettant d'identifier efficacement les dysfonctionnements et de les signaler pour résoudre les problèmes de connectivité. De plus, j'ai appris à installer un poste client, en suivant une procédure précise et en étant capable d'en expliquer chaque étape avec clarté.</p>

<h2>Preuves matérielles</h2>

<h3>Configurations des équipements</h3>
<p class="portfolio">Voici les fichiers de configuration des différents équipements utilisés lors du projet :</p>
<ul>
  <li class="portfolio"><a href="Sae%2012%20S%E2%80%99initier%20aux%20re%CC%81seaux%20informatiques%201bcc00567e7780138f4dd5214278421f/switch.txt" target="_blank">switch.txt</a></li>
  <li class="portfolio"><a href="Sae%2012%20S%E2%80%99initier%20aux%20re%CC%81seaux%20informatiques%201bcc00567e7780138f4dd5214278421f/routeur.txt" target="_blank">routeur.txt</a></li>
  <li class="portfolio"><a href="Sae%2012%20S%E2%80%99initier%20aux%20re%CC%81seaux%20informatiques%201bcc00567e7780138f4dd5214278421f/switch_client.txt" target="_blank">switch_client.txt</a></li>
  <li class="portfolio"><a href="Sae%2012%20S%E2%80%99initier%20aux%20re%CC%81seaux%20informatiques%201bcc00567e7780138f4dd5214278421f/Server_linux.txt" target="_blank">Server_linux.txt</a></li>
</ul>

<h3>Topologie du réseau</h3>
<p class="portfolio">Voici la topologie du réseau que nous avons mise en place durant ce projet :</p>
<img src="Sae%2012%20S%E2%80%99initier%20aux%20re%CC%81seaux%20informatiques%201bcc00567e7780138f4dd5214278421f/SAE12_cap.png" alt="Topologie du réseau" />
{% endblock %}
