{% extends "base.html" %}

{% block title %}
Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité
{% endblock %}

{% block header_title %}
Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité
{% endblock %}

{% block content %}
<h1>Sae 11 : Introduction à l'hygiène numérique et à la cybersécurité</h1>

<p class="portfolio">
  Pour cette SAE, nous devions exposer le rôle et les missions du RGPD, de la CNIL ainsi que de la certification SecNumCloud.
</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Gérer les réseaux et services Internet de manière sécurisée</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC11.02 | Comprendre l’organisation des systèmes numériques et les bases des échanges d’information</li>
  <li class="portfolio">AC11.04 | Savoir utiliser les systèmes d’exploitation pour configurer et administrer les ressources réseau</li>
  <li class="portfolio">AC11.05 | Être capable de détecter et de signaler les anomalies dans un réseau local</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">
Cette SAE m'a permis de mieux comprendre ces différents sujets et d'approfondir mes connaissances sur les organismes chargés de garantir notre sécurité en ligne.

<p class="portfolio">
j'ai également découvert les responsabilités qui nous incombent, en tant que professionnels, pour garantir la sécurité et le respect des droits d'autrui</p>



<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez consulter notre présentation et la vidéo associée à cette SAE :</p>
<p class="portfolio"><a href="https://drive.google.com/file/d/1V5RJzXGaVyZaUdnPI6QJ16mBBmHPyxTN/view?usp=sharing" target="_blank">SAE 11 - Présentation et Vidéo</a></p>
{% endblock %}
