{% extends "base.html" %}

{% block title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block header_title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block content %}
<h1>Sae 23 : Mettre en place une solution informatique pour l’entreprise</h1>

<p class="portfolio">Dans ce projet, nous avons eu l'opportunité de travailler sur une solution informatique impliquant à la fois le développement avec Django et la mise en place d’une infrastructure de virtualisation pour l'entreprise.</p>

<h2>Django</h2>

<p class="portfolio">Le développement Django a constitué une partie importante du projet. En binôme, nous avons dû créer cinq CRUD avec des relations entre eux. De plus, nous avons implémenté des fonctionnalités supplémentaires telles que :</p>
<ul>
  <li class="portfolio">La génération d'un récapitulatif des paramètres serveur sous forme de PDF.</li>
  <li class="portfolio">Un système d'importation de fichiers texte avec une syntaxe particulière pour remplir automatiquement plusieurs champs dans la base de données.</li>
  <li class="portfolio">Une mise en page soignée avec l'ajout d'un fichier CSS pour garantir une présentation visuelle agréable.</li>
</ul>

<h2>Virtualisation</h2>

<p class="portfolio">Une autre partie du projet a impliqué la configuration d'une solution de virtualisation. Nous avons mis en place un serveur MySQL et configuré les tables prédéfinies nécessaires au bon fonctionnement de la base de données. Ensuite, nous avons paramétré Nginx et Gunicorn pour pouvoir afficher l'application Django sur Internet, permettant ainsi l'accès à la solution par le biais d'un serveur web sécurisé.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser un système informatique et ses outils</li>
  <li class="portfolio">AC13.02 | Lire, exécuter, corriger et modifier un programme</li>
  <li class="portfolio">AC13.03 | Traduire un algorithme, dans un langage et pour un environnement donné</li>
  <li class="portfolio">AC13.04 | Connaître l’architecture et les technologies d’un site Web</li>
  <li class="portfolio">AC13.05 | Choisir les mécanismes de gestion de données adaptés au développement de l’outil et argumenter ses choix</li>
  <li class="portfolio">AC13.06 | S’intégrer dans un environnement propice au développement et au travail collaboratif</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de cette expérience, j’ai appris à utiliser efficacement un système informatique et ses outils, ce qui m’a permis de travailler sur des environnements numériques variés. J’ai également renforcé mes compétences en programmation, en étant capable de lire, corriger et modifier du code, ainsi que de traduire des algorithmes en fonction des besoins spécifiques du projet.</p>

<p class="portfolio">J’ai acquis une bonne compréhension de l’architecture et des technologies des sites web, ainsi que des mécanismes de gestion de données, en choisissant et argumentant mes choix techniques en fonction des contraintes du projet.</p>

<p class="portfolio">Enfin, l’expérience m’a permis d’évoluer dans un environnement de développement collaboratif, d'adopter des méthodes de travail en équipe, et de respecter les bonnes pratiques nécessaires pour réaliser des projets structurés et efficaces. Cela m’a permis de consolider mes compétences et de mieux appréhender les exigences du domaine informatique.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio"><a href="https://github.com/BaptisteBC/SAE23_Sujet2" target="_blank">github du projet</a></p>
{% endblock %}
