{% extends "base.html" %}

{% block title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block header_title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block content %}
<h1>Sae 23 : Mettre en place une solution informatique pour l’entreprise</h1>

<p>Choix, déploiement et configuration d’une solution technique pour répondre aux besoins d’une entreprise. Intégration de services, gestion des utilisateurs et sécurisation.</p>

<h2>Compétences ciblées</h2>
<ul>
  <li>Analyser les besoins fonctionnels</li>
  <li>Choisir une solution adaptée</li>
  <li>Mettre en œuvre, configurer et documenter la solution</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li>AC23.01 | Intégration systèmes</li>
  <li>AC23.02 | Administration</li>
  <li>AC23.03 | Sécurité</li>
</ul>
{% endblock %}
