{% extends "base.html" %}

{% block title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block header_title %}
Sae 23 : Mettre en place une solution informatique pour l’entreprise
{% endblock %}

{% block content %}
<h1>Sae 23 : Mettre en place une solution informatique pour l’entreprise</h1>

<p class="portfolio">Au cours de ce projet, nous avons eu l’occasion de concevoir une solution informatique combinant le développement sous Django et la mise en place d’une infrastructure virtualisée pour l’entreprise.</p>

<h2>Django</h2>

<p class="portfolio">Le développement avec Django a représenté une part essentielle du projet. En trinôme, nous avons réalisé cinq modules CRUD interconnectés. Nous avons également ajouté des fonctionnalités complémentaires telles que :</p>
<ul>
  <li class="portfolio">La possibilité d’insérer de nouvelles données dans la base via l’interface web</li>
  <li class="portfolio">L’exportation de la base de données au format CSV</li>
  <li class="portfolio">L’importation d’un fichier CSV existant dans la base, avec gestion des erreurs si les données ne sont pas valides</li>
</ul>

<h2>Virtualisation</h2>

<p class="portfolio">Une autre facette du projet a porté sur la mise en œuvre d’une solution de virtualisation. Nous avons procédé à l’installation d’un serveur MySQL et à la configuration des tables indispensables au fonctionnement de la base de données. Par la suite, nous avons configuré Nginx et Gunicorn pour rendre l’application Django accessible en ligne, assurant ainsi un accès sécurisé à la solution via un serveur web.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC13.01 | Utiliser un système informatique et ses outils</li>
  <li class="portfolio">AC13.02 | Lire, exécuter, corriger et modifier un programme</li>
  <li class="portfolio">AC13.03 | Traduire un algorithme, dans un langage et pour un environnement donné</li>
  <li class="portfolio">AC13.04 | Connaître l’architecture et les technologies d’un site Web</li>
  <li class="portfolio">AC13.05 | Choisir les mécanismes de gestion de données adaptés au développement de l’outil et argumenter ses choix</li>
  <li class="portfolio">AC13.06 | S’intégrer dans un environnement propice au développement et au travail collaboratif</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de ce projet, j’ai appris à utiliser efficacement un système informatique et ses outils, ce qui m’a permis d’intervenir sur divers environnements numériques. J’ai aussi renforcé mes compétences en développement, en étant capable d’analyser, corriger et adapter du code, ainsi que de transposer des algorithmes selon les besoins du projet.</p>

<p class="portfolio">J’ai acquis une meilleure compréhension de l’architecture et des technologies web, ainsi que des méthodes de gestion des données, en choisissant et justifiant les solutions techniques les plus adaptées aux contraintes rencontrées.</p>

<p class="portfolio">Enfin, cette expérience m’a permis d’évoluer dans un contexte de travail en équipe, d’adopter des méthodes de collaboration et de suivre les bonnes pratiques nécessaires à la réalisation de projets structurés et efficaces. Cela m’a aidé à consolider mes compétences et à mieux comprendre les attentes du secteur informatique.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio"><a href="https://github.com/BaptisteBC/SAE23_Sujet2" target="_blank">github du projet</a></p>
{% endblock %}
