{% extends "base.html" %}
{% load static %}

{% block title %}
Sae 24 : Projet intégratif en réseaux et télécommunications
{% endblock %}

{% block header_title %}
Sae 24 : Projet intégratif en réseaux et télécommunications
{% endblock %}

{% block content %}
<h1>Sae 24 : Projet intégratif en réseaux et télécommunications</h1>

<p class="portfolio">Le projet SAE 24 a eu pour but de concevoir et déployer un réseau local fonctionnel, en partant de zéro. Nous avons été amenés à mettre en place une infrastructure complète intégrant des services cruciaux pour la communication et l'échange d'informations au sein d'un réseau.</p>

<p class="portfolio">Le projet a démarré par l'installation d'une solution de téléphonie basée sur un PABX, permettant une communication interne efficace. En parallèle, nous avons déployé un serveur web interactif relié à un serveur MQTT, permettant la collecte et l'affichage en temps réel de données dynamiques sur un site web dédié.</p>

<p class="portfolio">Pour assurer un réseau structuré et performant, nous avons configuré des services essentiels tels qu'un serveur DNS pour la résolution des noms de domaine, un serveur DHCP pour l'attribution automatique des adresses IP, et un serveur FTP pour le partage et le stockage des fichiers.</p>

<p class="portfolio">L'architecture du réseau repose sur un switch et un routeur, garantissant une connectivité fiable entre les différents équipements et leur accès à Internet. Enfin, nous avons mis en place une partie dédiée à la collecte des trames MQTT, les transmettant efficacement au serveur web.</p>

<p class="portfolio">Ce projet a été une immersion complète dans l'univers des réseaux et des télécommunications, combinant théorie et pratique. Il a permis de relever plusieurs défis techniques tout en renforçant notre capacité à travailler en équipe et à approfondir notre compréhension des systèmes interconnectés. Une expérience véritablement enrichissante et motivante, consolidant davantage mon intérêt pour l'ingénierie réseau et le développement informatique !</p>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Administrer les réseaux et l’Internet</li>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
  <li class="portfolio">Créer des outils et applications informatiques pour les réseaux et télécommunications</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC11.01 | Maîtriser les lois fondamentales de l’électricité pour intervenir sur les équipements de réseaux et télécommunications</li>
  <li class="portfolio">AC11.02 | Comprendre l’architecture et les principes des systèmes numériques, du codage de l’information, des communications et de l’Internet</li>
  <li class="portfolio">AC11.03 | Configurer les fonctions essentielles d’un réseau local</li>
  <li class="portfolio">AC11.04 | Maîtriser l'administration des systèmes d'exploitation pour la configuration des réseaux et services</li>
  <li class="portfolio">AC11.05 | Identifier et signaler les dysfonctionnements du réseau local</li>
  <li class="portfolio">AC11.06 | Installer et configurer un poste client en expliquant les procédures mises en place</li>
  <li class="portfolio">AC12.01 | Mesurer, analyser et commenter les signaux</li>
  <li class="portfolio">AC12.02 | Caractériser des systèmes de transmission et modéliser leur fonctionnement</li>
  <li class="portfolio">AC12.03 | Déployer des supports de transmission</li>
  <li class="portfolio">AC12.04 | Connecter des systèmes de ToIP</li>
  <li class="portfolio">AC12.05 | Adapter la communication en fonction des interlocuteurs (clients, collaborateurs, etc.)</li>
  <li class="portfolio">AC13.01 | Utiliser efficacement un système informatique et ses outils</li>
  <li class="portfolio">AC13.02 | Lire, exécuter et modifier du code</li>
  <li class="portfolio">AC13.03 | Traduire un algorithme dans un langage donné pour un environnement spécifique</li>
  <li class="portfolio">AC13.04 | Comprendre l’architecture et les technologies d’un site Web</li>
  <li class="portfolio">AC13.05 | Choisir et argumenter les choix techniques concernant la gestion des données</li>
  <li class="portfolio">AC13.06 | S'intégrer dans un environnement collaboratif propice au développement</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Durant ce projet, j'ai renforcé ma maîtrise des principes fondamentaux de l’électricité et des réseaux de télécommunications. J'ai approfondi mes connaissances sur l'architecture des systèmes numériques, le codage de l'information, et les principes des communications et de l'Internet.</p>

<p class="portfolio">J'ai également acquis de l'expérience dans la configuration d'un réseau local, l'administration des systèmes d'exploitation et la résolution des problèmes de réseau. L'installation de postes clients et l'explication des processus de configuration font partie des compétences que j'ai développées.</p>

<p class="portfolio">Sur le plan technique, j'ai appris à mesurer, analyser et commenter des signaux, à déployer des supports de transmission, et à connecter des systèmes de téléphonie sur IP. Mes compétences en communication se sont également améliorées, me permettant d'adapter mon discours à divers interlocuteurs.</p>

<p class="portfolio">En termes de développement, j'ai acquis des compétences en manipulation des systèmes informatiques, en lecture et modification de code, ainsi qu'en conception de sites web et gestion de données. J'ai su prendre des décisions techniques argumentées et me suis familiarisé avec les outils et méthodes favorisant un travail collaboratif productif.</p>

<p class="portfolio">Cette expérience m'a permis de développer une polyvalence précieuse, combinant des compétences techniques, analytiques et communicationnelles, essentielles dans le domaine des réseaux et de l'informatique.</p>

<h2>Preuves matérielles</h2>

<p class="portfolio">Vous pouvez consulter la documentation complète de notre projet en suivant ce lien :</p>
<p class="portfolio"><a href="{% static 'fichier_autre/annee_1/sae24/sae24.zip' %}" download="">Documentation de notre projet</a></p>
{% endblock %}
