{% extends "base.html" %}

{% block title %}
Sae 22 : Mesurer et caractériser un signal ou un système
{% endblock %}

{% block header_title %}
Sae 22 : Mesurer et caractériser un signal ou un système
{% endblock %}

{% block content %}
<h1>Sae 22 : Mesurer et caractériser un signal ou un système</h1>

<p class="portfolio">Ce projet visait à mesurer et caractériser un signal ou un système de transmission pour garantir la conformité des équipements après une intervention sur site. L'objectif principal était d'assurer la qualité des signaux de communication dans un système donné, en prenant en compte des paramètres comme la puissance, l'atténuation, le gain, la sensibilité et le spectre.</p>

<h2>Objectifs du projet</h2>

<p class="portfolio">Nous avons mis en œuvre des outils et méthodes de mesure des signaux de transmission à l'aide d'appareils spécialisés. Ces mesures ont permis de caractériser la performance du système de transmission (par exemple, NRO, NRA, etc.). Nous avons analysé les résultats obtenus à l’aide de cartographies radio et d’hypsogrammes pour évaluer la qualité des signaux et détecter d’éventuels problèmes.</p>

<h2>Analyse et réflexion</h2>

<p class="portfolio">Le projet a impliqué une réflexion sur les mesures adéquates à réaliser et sur les configurations nécessaires pour garantir des transmissions fiables et de haute qualité. Ces analyses ont permis de valider les installations et de répondre aux exigences de performance des clients concernant les réseaux.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC12.01 | Mesurer, analyser et commenter les signaux</li>
  <li class="portfolio">AC12.02 | Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</li>
  <li class="portfolio">AC12.03 | Déployer des supports de transmission</li>
  <li class="portfolio">AC12.05 | Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur</li>
</ul>

<h2>Résumé personnel</h2>

<p class="portfolio">Au cours du projet, j'ai acquis des compétences solides dans plusieurs domaines clés. J'ai appris à mesurer, analyser et commenter des signaux, en développant une compréhension approfondie de leur fonctionnement et de leurs caractéristiques. J'ai également étudié la modélisation mathématique des systèmes de transmission élémentaires, ce qui m’a permis de mieux appréhender leur comportement et leur optimisation. En outre, j'ai appris à déployer des supports de transmission adaptés aux besoins spécifiques des projets.</p>

<p class="portfolio">Enfin, j’ai perfectionné ma capacité à communiquer de manière claire et pertinente avec différents interlocuteurs, qu'il s'agisse de clients ou de collaborateurs, en adaptant mon discours en fonction de leurs attentes et de leur niveau de compréhension. Ces compétences m’ont permis de renforcer mes aptitudes techniques et relationnelles dans un environnement professionnel.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Je ne détient plus de preuve matérielle de ce projet.</p>

{% endblock %}
