{% extends "base.html" %}

{% block title %}
Sae 22 : Mesurer et caractériser un signal ou un système
{% endblock %}

{% block header_title %}
Sae 22 : Mesurer et caractériser un signal ou un système
{% endblock %}

{% block content %}
<h1>Sae 22 : Mesurer et caractériser un signal ou un système</h1>

<p class="portfolio">Ce projet avait pour but d’évaluer et de qualifier un signal ou un système de transmission afin de vérifier la conformité des équipements après une intervention sur site. L’objectif principal était de garantir la qualité des signaux de communication dans un système donné, en prenant en considération des paramètres tels que la puissance, l’atténuation, le gain, la sensibilité et le spectre.</p>

<h2>Objectifs du projet</h2>

<p class="portfolio">Nous avons utilisé des outils et des méthodes de mesure adaptés pour analyser les signaux de transmission à l’aide d’appareils spécifiques. Ces mesures ont permis de déterminer les performances du système de transmission (par exemple, NRO, NRA, etc.). Les résultats ont été étudiés à l’aide de cartographies radio et d’hypsogrammes afin d’évaluer la qualité des signaux et d’identifier d’éventuelles anomalies.</p>

<h2>Analyse et réflexion</h2>

<p class="portfolio">Le projet a nécessité une réflexion sur le choix des mesures pertinentes à effectuer et sur les configurations à adopter pour assurer des transmissions fiables et performantes. Ces analyses ont permis de valider les installations et de satisfaire aux exigences de performance des clients concernant les réseaux.</p>

<h2>Compétence ciblée</h2>
<ul>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC12.01 | Mesurer, analyser et commenter les signaux</li>
  <li class="portfolio">AC12.02 | Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</li>
  <li class="portfolio">AC12.03 | Déployer des supports de transmission</li>
  <li class="portfolio">AC12.05 | Communiquer avec un tiers (client, collaborateur...) et adapter son discours et sa langue à son interlocuteur</li>
</ul>

<h2>Résumé personnel</h2>

<p class="portfolio">Au fil de ce projet, j’ai consolidé mes compétences dans plusieurs domaines essentiels. J’ai appris à effectuer des mesures, à analyser et à interpréter des signaux, ce qui m’a permis d’approfondir ma compréhension de leurs propriétés et de leur fonctionnement. J’ai également exploré la modélisation mathématique des systèmes de transmission de base, ce qui m’a aidé à mieux saisir leur comportement et à envisager des pistes d’optimisation. Par ailleurs, j’ai acquis de l’expérience dans le déploiement de supports de transmission adaptés aux exigences des différents projets.</p>

<p class="portfolio">Enfin, j’ai développé ma capacité à communiquer efficacement avec divers interlocuteurs, qu’il s’agisse de clients ou de collègues, en ajustant mon discours à leurs attentes et à leur niveau de connaissance. Ces acquis m’ont permis de renforcer à la fois mes compétences techniques et mes qualités relationnelles dans un contexte professionnel.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Je ne détient plus de preuve matérielle de ce projet.</p>

{% endblock %}
