{% extends "base.html" %}

{% block title %}
SAÉ 52 : Piloter un projet informatique
{% endblock %}

{% block header_title %}
SAÉ 52 : Piloter un projet informatique
{% endblock %}

{% block content %}
<h1>SAÉ 52 : Piloter un projet informatique</h1>

<p class="portfolio">Ce projet, réalisé dans le cadre de la SAÉ 5.02 (Piloter un projet informatique), a permis d'appliquer et de consolider les compétences acquises au cours du B.U.T. R&T. L'objectif principal était de concevoir et de développer un jeu, "Chomp", en langage C, avec une architecture client-serveur et une intelligence artificielle.</p>

<p class="portfolio">Plus précisément, les objectifs étaient de :</p>
<ul>
  <li class="portfolio">S'intégrer dans une équipe de développement et comprendre les méthodologies de gestion de projet informatique.</li>
  <li class="portfolio">Développer des compétences techniques en programmation C, en architecture client-serveur et en intelligence artificielle.</li>
  <li class="portfolio">Appliquer les principes de gestion de projet, notamment la planification, la répartition des tâches et le respect des délais.</li>
  <li class="portfolio">Collaborer efficacement au sein d'une équipe, en utilisant des outils de travail collaboratif.</li>
  <li class="portfolio">Documenter le projet de manière technique et conviviale pour les utilisateurs.</li>
  <li class="portfolio">Présenter et défendre le projet devant un public.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Administrer les réseaux et l’Internet</li>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC31.02 | Réaliser la documentation technique de ce projet</li>
  <li class="portfolio">AC31.03 | Réaliser une maquette de démonstration du projet</li>
  <li class="portfolio">AC31.04 | Défendre/argumenter un projet</li>
  <li class="portfolio">AC31.05 | Communiquer avec les acteurs du projet</li>
  <li class="portfolio">AC31.06 | Gérer le projet et les différentes étapes de sa mise en œuvre en respectant les délais</li>
  <li class="portfolio">AC32.05 | Collaborer en mode projet en français et en anglais</li>
  <li class="portfolio">AC33.01 | Élaborer les spécifications techniques et le cahier des charges d’une application informatique</li>
  <li class="portfolio">AC33.02 | Mettre en place un environnement de travail collaboratif</li>
  <li class="portfolio">AC33.03 | Participer à la formation des utilisateurs</li>
  <li class="portfolio">AC33.04 | Déployer et maintenir une solution informatique</li>
  <li class="portfolio">AC33.05 | S’informer sur les évolutions et les nouveautés technologiques</li>
  <li class="portfolio">AC33.06 | Sécuriser l’environnement numérique d’une application</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Grâce à ces apprentissages, j'ai acquis une solide compétence en gestion de projet informatique, de la conception à la maintenance. Je suis capable de réaliser une documentation technique claire et précise, de créer des maquettes de démonstration convaincantes et de défendre mes projets avec des arguments solides. Je maîtrise la communication avec les différents acteurs d'un projet, et je sais gérer les délais et les étapes de mise en œuvre. Je suis également à l'aise pour collaborer en mode projet, en français comme en anglais. De plus, je peux élaborer des spécifications techniques et des cahiers des charges détaillés, mettre en place des environnements de travail collaboratifs, former les utilisateurs et déployer des solutions informatiques. Enfin, je suis constamment à l'affût des évolutions technologiques et je sais sécuriser les environnements numériques.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Pour voir le code source et les détails du projet "chomp game", vous pouvez consulter le dépôt GitHub suivant :</p>
<p class="portfolio"><a href="https://github.com/basilelt/ensisa-piscine" target="_blank">chomp game GitHub Repository</a></p>

{% endblock %}
