{% extends "base.html" %}
{% load static %}

{% block title %}Sae 5.ROM3 : Déployer et gérer les services ROM{% endblock %}
{% block header_title %}Sae 5.ROM3 : Déployer et gérer les services ROM{% endblock %}

{% block content %}
<section>
    <h2 class="section-title">Descriptif générique et objectifs :</h2>
    <div class="description">
        <p>Au cours de cette période de formation, nous avons exploré en profondeur les technologies liées aux services multimédias et aux réseaux opérateurs à travers une série de travaux pratiques approfondis...</p>
        <ul>
            <li>La visioconférence : configuration et administration de systèmes de visioconférence...</li>
            <li>La vidéoprotection : mise en place de systèmes de surveillance vidéo IP...</li>
            <li>L'IPTV : déploiement et administration de services de télévision sur IP...</li>
            <li>Les VPN : configuration de VPN pour sécuriser les communications entre sites distants.</li>
            <li>Le SD-WAN : mise en place d'architecture SD-WAN pour optimiser les performances des réseaux WAN.</li>
            <li>La virtualisation : mise en œuvre de serveurs virtualisés, VLAN et VRF.</li>
            <li>L'automatisation : utilisation d'outils comme Ansible pour automatiser les tâches.</li>
        </ul>
        <p>Ces travaux pratiques ont permis de développer des compétences pratiques essentielles dans le déploiement et l'administration de services multimédias et de réseaux opérateurs.</p>
    </div>
</section>

<section>
    <h2 class="section-title">Compétences ciblées :</h2>
    <ul>
        <li>Gérer les infrastructures et les services des réseaux opérateurs</li>
        <li>Gérer les communications unifiées et la vidéo sur Internet</li>
    </ul>
</section>

<section>
    <h2 class="section-title">Apprentissages critiques :</h2>
    <ul>
        <li>AC34.01ROM | Administrer/superviser les infrastructures et les services télécom</li>
        <li>AC34.02ROM | Administrer et déployer des fonctions réseaux virtualisées</li>
        <li>AC35.01ROM | Administrer les services multimédias pour une entreprise</li>
    </ul>
</section>

<section>
    <h2 class="section-title">Preuves Matérielles :</h2>
    <p>Je ne détiens plus de preuve pour cette SAE.</p>
</section>
{% endblock %}
