{% extends "base.html" %}
{% load static %}

{% block title %}Sae 52 : Piloter un projet informatique{% endblock %}
{% block header_title %} SAÉ 5.02 : Piloter un projet informatique {% endblock %}

{% block content %}
<main>
    <section>
        <h2 class="section-title">Descriptif générique et objectifs :</h2>
        <div class="description">
            <p>Ce projet, réalisé dans le cadre de la SAÉ 5.02 (Piloter un projet informatique), a permis d'appliquer et de consolider les compétences acquises au cours du BUT. L'objectif principal était de concevoir et de développer un jeu, "Chomp", en langage C, avec une architecture client-serveur et une intelligence artificielle.</p>
            <p>Plus précisément, les objectifs étaient de :</p>
            <ul>
                <li>S'intégrer dans une équipe de développement et comprendre les méthodologies de gestion de projet informatique.</li>
                <li>Développer des compétences techniques en programmation C, en architecture client-serveur et en intelligence artificielle.</li>
                <li>Appliquer les principes de gestion de projet.</li>
                <li>Documenter le projet de manière technique et conviviale pour les utilisateurs.</li>
                <li>Présenter et défendre le projet devant un public.</li>
                <li>Collaborer efficacement au sein d'une équipe.</li>
            </ul>
        </div>
    </section>

    <section>
        <h2 class="section-title">Compétences ciblées :</h2>
        <ul>
            <li>Administrer les réseaux et l’Internet.</li>
            <li>Connecter les entreprises et les usagers.</li>
            <li>Créer des outils et applications informatiques pour les R&T.</li>
        </ul>
    </section>

    <section>
        <h2 class="section-title">Apprentissages critiques :</h2>
        <ul>
            <li>AC31.02 | Documentation technique</li>
            <li>AC31.03 | Maquette de démonstration</li>
            <li>AC31.04 | Défendre un projet</li>
            <li>AC31.05 | Communication avec les acteurs</li>
            <li>AC31.06 | Gestion de projet</li>
            <li>AC32.05 | Collaboration en français et anglais</li>
            <li>AC33.01 | Cahier des charges</li>
            <li>AC33.02 | Travail collaboratif</li>
            <li>AC33.03 | Formation des utilisateurs</li>
            <li>AC33.04 | Déploiement</li>
            <li>AC33.05 | Sécurisation</li>
            <li>AC33.06 | Veille technologique</li>
        </ul>
    </section>

    <section>
        <h2 class="section-title">Preuves Matérielles :</h2>
        <a href="https://github.com/basilelt/ensisa-piscine" target="_blank">Voir sur Github</a>
    </section>
</main>
{% endblock %}
