{% extends "base.html" %}
{% load static %}

{% block title %}SAÉ 6.ROM1 : Réaliser une veille technologique{% endblock %}
{% block header_title %} SAE 6.ROM1 : Réaliser une veille technologique {% endblock %}

{% block content %}
<main class="container">
    <h2>Descriptif générique et objectifs :</h2>
    <p>Veille technologique sur les communications unifiées : expérimentation avec Kamailio, bases de données et Asterisk.</p>

    <h2>Compétences ciblées :</h2>
    <ul>
        <li>Infrastructures réseaux opérateurs</li>
        <li>Communications unifiées</li>
    </ul>

    <h2>Apprentissages critiques :</h2>
    <ul>
        <li>AC34.01ROM | Supervision télécoms</li>
        <li>AC34.02ROM | Fonctions réseaux virtualisées</li>
        <li>AC35.01ROM | Services multimédias en entreprise</li>
    </ul>

    <h2>Preuves Matérielles :</h2>
    <p>Je ne détiens plus de preuve pour cette SAÉ.</p>
</main>
{% endblock %}
