{% extends "base.html" %}
{% load static %}

{% block title %}
STAGE.ROM : Alternance
{% endblock %}

{% block header_title %}
STAGE.ROM : Alternance
{% endblock %}

{% block content %}
<h1>STAGE.ROM : Alternance</h1>

<p class="portfolio">Cette expérience en alternance en entreprise a permis de mettre en pratique et de renforcer les compétences acquises durant le B.U.T. R&T. L’objectif principal était de s’intégrer dans une structure professionnelle et de contribuer à des projets portant sur le déploiement, l’installation ou la maintenance opérationnelle d’infrastructures réseaux et télécoms. Les missions réalisées ont favorisé le développement de compétences techniques et professionnelles diversifiées, en cohérence avec le projet professionnel et le parcours choisi par l’étudiant.</p>

<h2>Objectifs de l’alternance</h2>
<p class="portfolio">Plus précisément, les objectifs étaient de :</p>
<ul>
  <li class="portfolio">S’intégrer dans le milieu professionnel et appréhender le fonctionnement de l’entreprise.</li>
  <li class="portfolio">Acquérir des compétences techniques dans les domaines des infrastructures réseaux sécurisées, des télécommunications, des réseaux d’objets connectés, des solutions logicielles sur systèmes Cloud, ainsi que dans la gestion de projets réseaux ou télécoms.</li>
  <li class="portfolio">Mettre en œuvre et consolider les connaissances et aptitudes développées lors de la formation.</li>
  <li class="portfolio">Développer l’autonomie et l’esprit d’initiative.</li>
  <li class="portfolio">Rendre compte de ses activités et missions à l’écrit comme à l’oral, en adoptant une démarche structurée et rigoureuse.</li>
  <li class="portfolio">Mettre en pratique des compétences techniques telles que la configuration et le dépannage de routage dynamique, la gestion de la QoS et de la sécurité réseau, l’installation de services ToIP, la virtualisation de services, l’automatisation de tâches via des scripts, entre autres.</li>
  <li class="portfolio">Présenter le projet réalisé et rédiger un rapport.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs</li>
  <li class="portfolio">Gérer les communications unifiées et la vidéo sur Internet</li>
  <li class="portfolio">Administrer les réseaux et l’Internet</li>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC31.01 | Concevoir un projet de réseau informatique d’une entreprise en intégrant les problématiques de haute disponibilité, de QoS, de sécurité et de supervision</li>
  <li class="portfolio">AC31.02 | Réaliser la documentation technique de ce projet</li>
  <li class="portfolio">AC31.03 | Réaliser une maquette de démonstration du projet</li>
  <li class="portfolio">AC31.04 | Défendre/argumenter un projet</li>
  <li class="portfolio">AC31.05 | Communiquer avec les acteurs du projet</li>
  <li class="portfolio">AC31.06 | Gérer le projet et les différentes étapes de sa mise en œuvre en respectant les délais</li>
  <li class="portfolio">AC32.01 | Déployer un système de communication pour l’entreprise</li>
  <li class="portfolio">AC32.02 | Déployer un réseau d’accès sans fil pour le réseau d’entreprise en intégrant les enjeux de la sécurité</li>
  <li class="portfolio">AC32.03 | Déployer un réseau d’accès fixe ou mobile pour un opérateur de télécommunications en intégrant la sécurité</li>
  <li class="portfolio">AC32.04 | Permettre aux collaborateurs de se connecter de manière sécurisée au système d’information de l’entreprise</li>
  <li class="portfolio">AC32.05 | Collaborer en mode projet en français et en anglais</li>
  <li class="portfolio">AC33.01 | Élaborer les spécifications techniques et le cahier des charges d’une application informatique</li>
  <li class="portfolio">AC33.02 | Mettre en place un environnement de travail collaboratif</li>
  <li class="portfolio">AC33.03 | Participer à la formation des utilisateurs</li>
  <li class="portfolio">AC33.04 | Déployer et maintenir une solution informatique</li>
  <li class="portfolio">AC33.05 | S’informer sur les évolutions et les nouveautés technologiques</li>
  <li class="portfolio">AC33.06 | Sécuriser l’environnement numérique d’une application</li>
  <li class="portfolio">AC34.01ROM | Administrer/superviser les infrastructures et les services télécom</li>
  <li class="portfolio">AC34.02ROM | Administrer et déployer des fonctions réseaux virtualisées et programmer le réseau</li>
  <li class="portfolio">AC35.01ROM | Administrer les services multimédias pour une entreprise</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Durant cette période de formation, j’ai consolidé des compétences clés en gestion de projet et en mise en œuvre de solutions informatiques avancées. J’ai appris à concevoir des architectures réseaux pour les entreprises en prenant en compte la haute disponibilité, la qualité de service, la sécurité et la supervision, tout en réalisant une documentation technique adaptée. J’ai également développé la capacité à créer des maquettes de projets, à présenter et défendre mes réalisations, ainsi qu’à communiquer efficacement avec l’ensemble des intervenants.</p>

<p class="portfolio">Sur le plan technique, j’ai acquis de l’expérience dans le déploiement de systèmes de communication d’entreprise, de réseaux d’accès sans fil et filaires pour les opérateurs télécoms, en intégrant des solutions de sécurité performantes. J’ai aussi renforcé mes compétences pour permettre aux utilisateurs d’accéder de façon sécurisée au système d’information et pour travailler en mode projet, aussi bien en français qu’en anglais.</p>

<p class="portfolio">Concernant le développement applicatif, j’ai appris à rédiger des spécifications techniques et des cahiers des charges, à instaurer des environnements collaboratifs, à accompagner les utilisateurs, à déployer et maintenir des solutions informatiques, à suivre les évolutions technologiques et à sécuriser les applications numériques.</p>

<p class="portfolio">Enfin, j’ai développé des compétences en administration et supervision des infrastructures et services télécoms, en gestion et déploiement de fonctions réseaux virtualisées, en programmation réseau, ainsi qu’en gestion des services multimédias pour l’entreprise.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez télécharger le<a href="{% static 'fichier_autre/annee_3/stagerom/stagerom.pdf' %}" download="">rapport d’alternance</a> pour plus de détails sur mon expérience en alternance.</p>

<p class="portfolio">Le Powerpoint pour la soutenance est encore en préparation et sera disponible prochainement.</p>

{% endblock %}
