{% extends "base.html" %}
{% load static %}

{% block title %}
STAGE.ROM : Alternance
{% endblock %}

{% block header_title %}
STAGE.ROM : Alternance
{% endblock %}

{% block content %}
<h1>STAGE.ROM : Alternance</h1>

<p class="portfolio">Cette alternance en milieu professionnel a permis d'appliquer et de consolider les compétences acquises au cours du B.U.T. R&T. L'objectif principal était de s'intégrer dans une entreprise et de participer à des projets liés au déploiement, à l'installation ou au maintien en condition opérationnelle d'infrastructures réseaux et télécoms. Les missions confiées ont permis de développer des compétences techniques et professionnelles variées, en adéquation avec le projet professionnel et le choix de parcours de l'étudiant.</p>

<h2>Objectifs de l'alternance</h2>
<p class="portfolio">Plus précisément, les objectifs étaient de :</p>
<ul>
  <li class="portfolio">S'intégrer dans l'environnement professionnel et comprendre l'organisation de l'entreprise.</li>
  <li class="portfolio">Développer des compétences techniques dans les domaines des infrastructures réseaux sécurisées, des infrastructures de télécommunications, des réseaux d'objets connectés, des solutions logicielles sur des systèmes Cloud, et du pilotage de projets réseaux ou télécommunications.</li>
  <li class="portfolio">Appliquer et consolider les savoir-faire et savoir-être acquis lors de la formation.</li>
  <li class="portfolio">Développer l'autonomie et l'esprit d'initiative.</li>
  <li class="portfolio">Rendre compte de son activité et de ses missions à l'écrit et à l'oral, en adoptant une démarche structurée et rigoureuse.</li>
  <li class="portfolio">Mettre en application des compétences techniques tels que la configuration et le dépannage de routage dynamique, la configuration de QoS et de sécurités réseau, l’installation de service ToIP, la virtualisation de services, l’automatisation de taches via des scripts, et bien d’autres.</li>
  <li class="portfolio">Faire une présentation de notre projet et un rapport.</li>
</ul>

<h2>Compétences ciblées</h2>
<ul>
  <li class="portfolio">Gérer les infrastructures et les services des réseaux opérateurs</li>
  <li class="portfolio">Gérer les communications unifiées et la vidéo sur Internet</li>
  <li class="portfolio">Administrer les réseaux et l’Internet</li>
  <li class="portfolio">Connecter les entreprises et les usagers</li>
  <li class="portfolio">Créer des outils et applications informatiques pour les R&T</li>
</ul>

<h2>Apprentissages critiques (AC)</h2>
<ul>
  <li class="portfolio">AC31.01 | Concevoir un projet de réseau informatique d’une entreprise en intégrant les problématiques de haute disponibilité, de QoS, de sécurité et de supervision</li>
  <li class="portfolio">AC31.02 | Réaliser la documentation technique de ce projet</li>
  <li class="portfolio">AC31.03 | Réaliser une maquette de démonstration du projet</li>
  <li class="portfolio">AC31.04 | Défendre/argumenter un projet</li>
  <li class="portfolio">AC31.05 | Communiquer avec les acteurs du projet</li>
  <li class="portfolio">AC31.06 | Gérer le projet et les différentes étapes de sa mise en œuvre en respectant les délais</li>
  <li class="portfolio">AC32.01 | Déployer un système de communication pour l’entreprise</li>
  <li class="portfolio">AC32.02 | Déployer un réseau d’accès sans fil pour le réseau d’entreprise en intégrant les enjeux de la sécurité</li>
  <li class="portfolio">AC32.03 | Déployer un réseau d’accès fixe ou mobile pour un opérateur de télécommunications en intégrant la sécurité</li>
  <li class="portfolio">AC32.04 | Permettre aux collaborateurs de se connecter de manière sécurisée au système d’information de l’entreprise</li>
  <li class="portfolio">AC32.05 | Collaborer en mode projet en français et en anglais</li>
  <li class="portfolio">AC33.01 | Élaborer les spécifications techniques et le cahier des charges d’une application informatique</li>
  <li class="portfolio">AC33.02 | Mettre en place un environnement de travail collaboratif</li>
  <li class="portfolio">AC33.03 | Participer à la formation des utilisateurs</li>
  <li class="portfolio">AC33.04 | Déployer et maintenir une solution informatique</li>
  <li class="portfolio">AC33.05 | S’informer sur les évolutions et les nouveautés technologiques</li>
  <li class="portfolio">AC33.06 | Sécuriser l’environnement numérique d’une application</li>
  <li class="portfolio">AC34.01ROM | Administrer/superviser les infrastructures et les services télécom</li>
  <li class="portfolio">AC34.02ROM | Administrer et déployer des fonctions réseaux virtualisées et programmer le réseau</li>
  <li class="portfolio">AC35.01ROM | Administrer les services multimédias pour une entreprise</li>
</ul>

<h2>Résumé personnel</h2>
<p class="portfolio">Au cours de cette phase de formation, j'ai développé des compétences essentielles en gestion de projets et en déploiement de solutions informatiques complexes. J'ai appris à concevoir des projets de réseaux informatiques d'entreprise en intégrant des exigences de haute disponibilité, de QoS, de sécurité et de supervision, et à documenter ces projets de manière technique. J'ai également acquis la capacité de réaliser des maquettes de démonstration, de défendre et d'argumenter des projets, et de communiquer efficacement avec les différentes parties prenantes.</p>

<p class="portfolio">Sur le plan technique, j'ai appris à déployer des systèmes de communication pour l'entreprise, des réseaux d'accès sans fil et fixes/mobiles pour les opérateurs de télécommunications, tout en intégrant des mesures de sécurité robustes. J'ai également acquis des compétences en permettant aux collaborateurs de se connecter de manière sécurisée au système d'information de l'entreprise et en collaborant en mode projet en français et en anglais.</p>

<p class="portfolio">En matière de développement d'applications, j'ai appris à élaborer des spécifications techniques et des cahiers des charges, à mettre en place des environnements de travail collaboratifs, à former les utilisateurs, à déployer et maintenir des solutions informatiques, à me tenir informé des évolutions technologiques et à sécuriser l'environnement numérique des applications.</p>

<p class="portfolio">Enfin, j'ai acquis des compétences en administration et supervision des infrastructures et services télécoms, en administration et déploiement de fonctions réseaux virtualisées et en programmation de réseaux, ainsi qu'en administration de services multimédias pour l'entreprise.</p>

<h2>Preuves matérielles</h2>
<p class="portfolio">Vous pouvez télécharger le<a href="{% static 'fichier_autre/annee_3/stagerom/stagerom.pdf' %}" download="">rapport d’alternance</a> pour plus de détails sur mon expérience en alternance.</p>

<p class="portfolio">Le Powerpoint pour la soutenance est encore en préparation et sera disponible prochainement.</p>

{% endblock %}
