{% extends "base.html" %}
{% load static %}

{% block title %}À propos - Samuel Rolli{% endblock %}
{% block header_title %}À propos de Samuel ROLLI{% endblock %}

{% block content %}
<section id="about">
    <h2>À propos de moi</h2>
    <p>Je suis Samuel Rolli, Technicien Réseau & Télécoms. Passionné par l'informatique, les serveurs, la musique et l'escalade, je combine compétences techniques et créativité pour mener à bien divers projets.</p>
</section>

<section id="skills">
    <h2>Compétences</h2>
    <p>
        J'ai mis en place un homelab basé sur Proxmox, hébergeant plusieurs services comme Plex, Nextcloud et OnlyOffice Workstation. Ce site est aussi hébergé sur ce serveur.
    </p>
    <p>
        Je suis également passionné par la programmation, notamment en Python, et je suis en train de me former sur les technologies web.
    </p>
</section>

<section id="image_penguin">
    <img src="{% static 'images/penguin_on_linux.gif' %}" alt="penguin on linux" class="image_penguin">
</section>
{% endblock %}
