{% extends "base.html" %}
{% load static %}

{% block title %}Contact - Samuel Rolli{% endblock %}
{% block header_title %}Contactez-moi{% endblock %}

{% block content %}
<section id="contact">
    <h2>Contact</h2>
    <p>N'hésitez pas à me contacter via les moyens suivants :</p>
    <ul>
        <li><a href="mailto:samuel.rolli@samuel-rolli.fr?subject=Demande générale" class="lien">Email personnel</a></li>
        <li><a href="https://www.linkedin.com/in/samuel-rolli-8050ab257/" target="_blank" class="lien">Profil LinkedIn</a></li>
    </ul>
    <img src="{% static 'images/penguin_on_a_call.gif' %}" alt="Image de contact" class="image_penguin">
</section>
{% endblock %}
